@model Authentication.Models.ResetPasswordViewModel
@using System.Web.Configuration
@using Authentication.Models;
@using Authentication.Common
@using SBSModel.Models;
@using SBSModel.Common;
@using SBSModel.Common;
@using SBSWorkFlowAPI.Models;
@using SBSResourceAPI;

@{
    ViewBag.Title = Resource.Reset_Password;
    var userlogin = UserSession.getUser(Request.RequestContext.HttpContext);
}
<script type="text/javascript">
    $(document).ready(function () {
        $('.globalMenu').hide();
    });
</script>
<div class="pageheader">
    <h2><img src="@AppSetting.SERVER_NAME/@AppSetting.SBSTmpAPI/images/employee.png" class="logo" style="height:50px"> @Resource.Reset_Password <span></span></h2>
    <div class="breadcrumbs">
        @if (userlogin != null && userlogin.User_Authentication != null)
        {
            <ol class="breadcrumb">
                <li>@Resource.You_Are_Here</li>
                <li><a href="@Url.Action("Index", "Home")">@Resource.DashBoard</a></li>
                <li class="active">@Resource.Reset_Password</li>
            </ol>
        }
    </div>
</div>
@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="main">
        <div class="row">
            <div class="col-md-12">
                <section class="tile color transparent-black">
                    
                    <div class="tile-header transparent">
                        <h1><strong>@Resource.Reset_Password @Resource.For @Model.name</strong></h1>
                        <div class="controls">
                            <a href="#" class="minimize"><i class="fa fa-chevron-down color-white"></i></a>
                        </div>
                    </div>
                    
                    <div class="tile-body">

                        @Html.AntiForgeryToken()
                        <input type="hidden" value="@Model.uid" name="uid" />
                        <div class="row">
                            <div class="col-md-6">
                                @if (!Model.notValidateCurrent)
                                {
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label for="OldPassword" class="control-label">@Resource.Current_Password</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <input type="password" class="form-control" name="OldPassword" id="OldPassword">
                                            <div class="validation-error">
                                                @Html.ValidationMessageFor(m => m.OldPassword)
                                            </div>
                                        </div>

                                    </div>
                                }

                                <div class="form-group">
                                    <div class="col-sm-5">
                                        <label for="NewPassword" class="control-label">@Resource.New_Password</label>
                                    </div>
                                    <div class="col-sm-1">
                                        <i id="NewPassword_OK" class="fa fa-check-circle color-green" style="display:none;margin-top:8px"></i>
                                        <i id="NewPassword_X" class="fa fa-times-circle color-red" style="display: none; margin-top:8px"></i>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input type="password" class="form-control" name="NewPassword" id="NewPassword" onkeyup="Password_Onchange()">
                                        <div class="validation-error">
                                            @Html.ValidationMessageFor(m => m.NewPassword)
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div class="col-sm-5">
                                        <label for="ConfirmPassword" class="control-label">@Resource.Confirm_New_Password</label>
                                    </div>
                                    <div class="col-sm-1">
                                        <i id="ConfirmPassword_OK" class="fa fa-check-circle color-green" style="display:none;margin-top:8px"></i>
                                        <i id="ConfirmPassword_X" class="fa fa-times-circle color-red" style="display: none; margin-top:8px"></i>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input type="password" class="form-control" name="ConfirmPassword" id="ConfirmPassword" onkeyup="Password_Onchange()">
                                        <div class="validation-error">
                                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">

                                @*<div class="row">
                                        <div class="col-md-12 color-red">
                                            @Html.ValidationSummary()
                                        </div>
                                    </div>*@
                                <section class="tile color transparent-white" style="padding-left:15px;">
                                    
                                    <div class="tile-body">
                                        <p><i class="fa fa-circle color-green"></i> @Resource.Message_Have_A_least_One_Letter</p>
                                        <p><i class="fa fa-circle color-green"></i> @Resource.Message_Have_A_least_One_Capital_Letter</p>
                                        <p><i class="fa fa-circle color-green"></i> @Resource.Message_Have_A_least_One_Number</p>
                                        <p><i class="fa fa-circle color-green"></i> @Resource.Message_Be_At_Least_Eight_Characters</p>
                                    </div>
                                    

                                </section>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <section class="tile color transparent-white">
                    <div class="tile-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-sm-12 ">
                                        <button type="submit" class="btn btn-primary" id="btnSave" disabled>@Resource.Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
}


<script type="text/javascript">

    function LetterContainUpper(str) {
        for (var i = 0 ; i < str.length ; i++) {
            if (isNaN(str[i])) {
                if (str[i] == str[i].toUpperCase()) {
                    return true;
                }
            }
        }
        return false;
    }
    function LetterContainLower(str) {
        for (var i = 0 ; i < str.length ; i++) {
            if (isNaN(str[i])) {
                if (str[i] == str[i].toLowerCase()) {
                    return true;
                }
            }

        }
        return false;
    }
    function LetterContainNumber(str) {
        for (var i = 0 ; i < str.length ; i++) {
            if (!isNaN(str[i])) {
                return true;
            }

        }
        return false;
    }

    function Password_Onchange() {
        var text = $('#NewPassword').val();
        var text2 = $('#ConfirmPassword').val();

        var valid1 = false;
        var valid2 = false;

        if (text == null || text == "") {
            $('#NewPassword_OK').hide();
            $('#NewPassword_X').hide();
        }
        else {
            $('#NewPassword_OK').hide();
            $('#NewPassword_X').show();
        }


        if (text != null) {
            if (text.length >= 8) {
                if (LetterContainLower(text) & LetterContainUpper(text) & LetterContainNumber(text)) {
                    $('#NewPassword_OK').show();
                    $('#NewPassword_X').hide();
                    valid1 = true;
                }
            }
        }

        if (text2 == null || text2 == "") {
            $('#ConfirmPassword_OK').hide();
            $('#ConfirmPassword_X').hide();
        }
        else {
            $('#ConfirmPassword_OK').hide();
            $('#ConfirmPassword_X').show();
        }


        if (text2 != null) {
            if (text2.length >= 8) {
                if (LetterContainLower(text2) & LetterContainUpper(text2) & LetterContainNumber(text2)) {
                    $('#ConfirmPassword_OK').show();
                    $('#ConfirmPassword_X').hide();
                    valid2 = true;
                }
            }
        }

        if (text2 != null && text2 != "") {
            if (text != text2) {
                $('#ConfirmPassword_OK').hide();
                $('#ConfirmPassword_X').show();

                valid2 = false;
            }
        }

    
        if (valid1 & valid2) {
            $('#btnSave').prop('disabled', false)
        }
        
    }


</script>