@model  HR.Models.DashBoardViewModel
@using SBSModel.Common;
@using SBSModel.Models;
@using SBSWorkFlowAPI.Models;
@using SBSWorkFlowAPI.ModelsAndService;
@using HR.Common;
@using System;
@using System.Collections;
@using SBSResourceAPI;
@using SBSModel.Common;
@using SBSWorkFlowAPI.Constants;
@{
    ViewBag.Title = Resource.DashBoard;
    //var subscriptions = UserSession.getSubscription(Request.RequestContext.HttpContext);
    //Dictionary<String, List<string>> rights = UserSession.getUserPageRights(Request.RequestContext.HttpContext);
    Hashtable hashtable = new Hashtable();
    var admin = Model.adminRights != null ? Model.adminRights.Contains("A") : false;
    var hr = Model.hrRights != null ? Model.hrRights.Contains("A") : false;
}
@{
    var userlogin = UserSession.getUser(Request.RequestContext.HttpContext);
    var requests = new List<Request>();
    var requestIDs = new List<int>();
    var hist = new EmploymentHistoryService().GetCurrentEmploymentHistoryByProfile(userlogin.Profile_ID);
    if (hist != null)
    {
        var aService = new SBSWorkFlowAPI.Service();
        if (hist.Department_ID != null)
        {
            var r = aService.GetMyRequests(userlogin.Company_ID.Value, hist.Department_ID.Value, userlogin.Profile_ID, ModuleCode.HR, ApprovalType.Leave);
            if (r.Item2.IsSuccess && r.Item1 != null)
            {
                requests = r.Item1.ToList();
                requestIDs = r.Item1.Select(s => s.Request_ID).ToList();
            }
        }
    }
}
@{
    var erequests = new List<Request>();
    var erequestIDs = new List<int>();
    if (hist != null)
    {
        var aService = new SBSWorkFlowAPI.Service();
        if (hist.Department_ID != null)
        {
            var r = aService.GetMyRequests(userlogin.Company_ID.Value, hist.Department_ID.Value, userlogin.Profile_ID, ModuleCode.HR, ApprovalType.Expense);
            if (r.Item2.IsSuccess && r.Item1 != null)
            {
                erequests = r.Item1.ToList();
                erequestIDs = r.Item1.Select(s => s.Request_ID).ToList();
            }
        }
    }
}

<link href="@Url.Content("~/assets/fullcalendar/stylesheets/fullcalendar.min.css")" rel="stylesheet">
<script src="@Url.Content("~/assets/fullcalendar/javascripts/vendor/fullcalendar/fullcalendar.min.js")"></script>
<link href="@Url.Content("~/assets/css/minimal.css")" rel="stylesheet">
<script src="@Url.Content("~/assets/js/vendor/morris/morris.min.js")"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>

<script type="text/javascript">
    //initialize file upload button function
    $(document)
      .on('change', '.btn-file :file', function () {
          var input = $(this),
          numFiles = input.get(0).files ? input.get(0).files.length : 1,
          label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
          input.trigger('fileselect', [numFiles, label]);
      });

    $(function () {
        //Set Mandatory
        if ($('#Start_Date').val() == null || $('#Start_Date').val() == '') {
            MandatoryColor('Start_Date');
        }
        else {
            MandatoryRemoveColor('Start_Date');
        }

        if ($('#End_Date').val() == null || $('#End_Date').val() == '') {
            MandatoryColor('End_Date');
        }
        else {
            MandatoryRemoveColor('End_Date');
        }

        if ($('#Expenses_Date').val() == null || $('#Expenses_Date').val() == '') {
            MandatoryColor('Expenses_Date');
        }
        else {
            MandatoryRemoveColor('Expenses_Date');
        }

        if ($('#Expenses_Title').val() == null || $('#Expenses_Title').val() == '') {
            MandatoryColor('Expenses_Title');
        }
        else {
            MandatoryRemoveColor('Expenses_Title');
        }

        if ($('#Amount_Claiming').val() == null || $('#Amount_Claiming').val() == '') {
            MandatoryColor('Amount_Claiming');
        }
        else {
            MandatoryRemoveColor('Amount_Claiming');
        }

        InitDatepicker();
        //initialize file upload button
        $('.btn-file :file').on('fileselect', function (event, numFiles, label) {
            //alert(event.currentTarget.id);
            var ctrlName = "#Uploadfile";
            if (event.currentTarget.id == "LeaveFile")
                ctrlName = "#LeaveFile";
            //alert(ctrlName);
            var sizeIsnull = $(ctrlName)[0].files[0];
            if (sizeIsnull != null) {
                var fsize = $(ctrlName)[0].files[0].size;
                if (fsize > 2097150) {
                    alert('@Resource.Message_Please_Upload_File_Size_Is_Less_Than_2_MB');
                    $(ctrlName).after($(ctrlName).clone(true)).remove();
                    $(ctrlName).parents('.input-group').find(':text').val('');
                    return false;
                }

                var input = $(this).parents('.input-group').find(':text'),
                    log = numFiles > 1 ? numFiles + ' files selected' : label;

                console.log(log);

                if (input.length) {
                    input.val(log);
                } else {
                    if (log) alert(log);
                }
            }
        });


        $('#divMileage').hide();
        $('#Amount_Claiming').val(0);
        $('#Mileage').val(0);

        CheckUploadDoc('@Model.Leave_Config_ID');
        applicationConfig(true,'@userlogin.Profile_ID');

        $('#Expenses_Config_ID').change(function () {
            applicationConfig(true,'@userlogin.Profile_ID');
        });

        $('#Amount_Claiming').change(function () {
            applicationConfig(true,'@userlogin.Profile_ID');
        });


        var d = new Date(),
        date = (d.getUTCFullYear()) + '/' + (d.getUTCMonth() + 1) + '/' + (d.getUTCDate());

        $('#Expense_Date').datetimepicker({
            mask: true,
            timepicker: false,
            format: 'Y/m/d',
            value: date
        });

        $('#btnExpense').click(function () {
            if ($('#Expenses_Title').val() == null || $('#Expenses_Title').val() == '')
            {
                alert("Please choose expense Title");
                return false;
            }

            if ($('#Expenses_Config_ID').val() == null || $('#Expenses_Config_ID').val() == '')
            {
                alert("Please choose expense type");
                return false;
            }

            if($('#Amount_Claiming').val() == "" || $('#Amount_Claiming').val() == 0)
            {
                if ($('#UOM_ID').val() != null && $('#UOM_ID').val() != '') {
                    var struom = $('#UOM_Name').val();
                    alert("Please enter " + struom);
                }else{
                    alert("Please enter claim amount");
                }
                return false;
            }
            else
            {
                if($('#Max_Amount_Claiming').val() == "" || $('#Max_Amount_Claiming').val() == 0)
                {
                    alert("Please enter claim amount");
                    return false;
                }
                if($('#Amount_Claiming').val() > $('#Max_Amount_Claiming').val())
                {
                    alert("Your balance is not enough to make this claim");
                    return false;
                }
            }
        });

        new Morris.Donut({
            element: 'disk-usage',
            data: [
               { label: "@Resource.Available_Storage", value:@Model.Avail_Diskspace},
               { label: "@Resource.Company_Information", value:@Model.Company_Usage},
               { label: "@Resource.Employee_Attachments", value: @Model.Emp_Usage },
               { label: "@Resource.Leave_Attachments", value: @Model.Leave_Usage },
               { label: "@Resource.Expense_Attachments", value: @Model.Exp_Usage }
            ],
            colors: ['#D796EC', '#5B5A5B', '#FF5733', '#AFD684', '#6093e5']
        });
    });


    function applicationConfig(istrue,paramProfileID) {

        if(istrue == true){
            if (parseInt('@(Model.expensesConfigList != null ? Model.expensesConfigList.Count : 0)') > 0) {
                if ($('#Expenses_Config_ID').val() != null && $('#Expenses_Config_ID').val() != '' && $('#Expense_Date').val() != null && $('#Expense_Date').val() != '') {
                    $('#Balance').val(0);
                    $('#Max_Amount_Claiming').val(0);

                    ShowMask();
                    $.ajax({
                        type: "GET",
                        url: "QuickApplicationConfig",
                        data: {
                            Expenses_Config_ID: $('#Expenses_Config_ID').val(),
                            Total_Amount: $('#Amount_Claiming').val(),
                            pExpenses_Date: $('#Expense_Date').val(),
                            pProfileID: paramProfileID
                        },
                        //dataType: "script"
                    }).done(function (msg) {
                        $('#appConfig').html(msg);
                        $('#UOM_ID').trigger("chosen:updated");
                        if ($('#UOM_ID').val() != null && $('#UOM_ID').val() != '') {
                            $('#divMileage').show();
                            $('#Amount_Claiming').attr('readonly', true);
                            MandatoryColor('Mileage');
                        }else{
                            $('#divMileage').hide();
                            $("#Amount_Claiming").removeAttr("readonly");
                        }
                        CloseMask();
                    });
                }
            }
        }
    }

    function Milage_Change() {
        var mileage = $('#Mileage').val();
        var amountperuom = $('#Amount_Per_UOM').val();
        if (!isNaN(mileage) && !isNaN(amountperuom)) {
            var totalamount = parseFloat(mileage) * parseFloat(amountperuom);
            $('#Amount_Claiming').val(totalamount);
            applicationConfig(true,'@userlogin.Profile_ID');
        }
        else {
            $('#Mileage').val(0);
            $('#Amount_Claiming').val(0);
        }
    }

</script>

<script type="text/javascript">
    function Leave_Config_OnChange() {
        CheckUploadDoc($('#Leave_Config_ID').val());
    }
    function CheckUploadDoc(leavetypeid) {
        ShowMask();
        $.ajax({
            type: 'POST',
            url: 'CheckUploadDoc',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ pLeaveConfigID: leavetypeid}),
            dataType: 'json',
            success: function (data) {
                if(data != null){
                    if (data.IsUploadDoc == false)
                        $('#uniform-uploadfile').hide();
                    else
                        $('#uniform-uploadfile').show();
                }
            }
        }).done(function () {
            CloseMask();
        });
    }
</script>

<div id="appConfig"></div>
<div class="pageheader">
    <h2>@Resource.DashBoard</h2>
    <div class="breadcrumbs">
        <ol class="breadcrumb">
            <li>@Resource.You_Are_Here</li>
            <li class="active">@Resource.DashBoard</li>
        </ol>
    </div>
</div>

<div class="main">
    <div class="row">
        <div class="col-md-12">
            @if (Model.result != null && Model.result.Code != 0)
            {
                if (Model.result.Code < 0)
                {
                    <div class="alert alert-red">
                        @Html.Raw(AppConst.GetMsg(Model.result))
                    </div>
                }
                else if (Model.result.Code > 0)
                {
                    <div class="alert alert-success">
                        @Html.Raw(AppConst.GetMsg(Model.result))
                    </div>
                }
            }
        </div>
    </div>
    @if (admin == true || hr == true)
    {
        <div class="row cards">
            <div class="card-container col-lg-3 col-sm-6 col-sm-12" id="my-element">
                <div class="card card-amethyst">
                    <div class="front">
                        <div class="media">
                            <span class="pull-left">
                                <i class="fa fa-users media-object"></i>
                            </span>
                            <div class="media-body">
                                <small>@Resource.Employees</small>
                                <h2 class="media-heading animate-number" data-value="@Model.Total_Employees">@Model.Total_Employees</h2>
                                <small>@Resource.Till_Today.ToLower()</small>
                                @if (Model.Total_Outstanding_Amt > 0)
                                {
                                    <div class="details"><div class="title">&nbsp;</div></div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-container col-lg-3 col-sm-6 col-sm-12" id="my-other-element">
                <div class="card card-slategray">
                    <div class="front">
                        <div class="media">
                            <span class="pull-left">
                                <i class="fa fa-usd media-object"></i>
                            </span>
                            <div class="media-body">
                                <small>@Resource.TTL_EXP_Amount</small>
                                <h2 class="media-heading animate-number" data-value="@Model.Total_Expenses_Amt">@Model.Total_Expenses_Amt</h2>
                                <small>@Resource.This_Month.ToLower()</small>
                                @if (Model.Total_Outstanding_Amt > 0)
                                {
                                    <div class="details"><div class="title">&nbsp;</div> </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-container col-lg-3 col-sm-6 col-sm-12">
                <div class="card card-redbrown">
                    <div class="front">
                        <div class="media">
                            <span class="pull-left">
                                <i class="fa fa-usd media-object"></i>
                            </span>
                            <div class="media-body">
                                <small>@Resource.Billing_Amount</small>
                                @if (Model.Is_Trial == true)
                                {
                                    <h2 class="media-heading animate-number">TRIAL</h2>
                                }
                                else
                                {
                                    <h2 class="media-heading animate-number" data-value="@Model.Total_Billing_Amt">@Model.Total_Billing_Amt</h2>
                                }
                                <small>@Resource.Till_Today.ToLower()</small>
                            </div>
                            @if (Model.Total_Outstanding_Amt > 0)
                            {
                                <div class="details"><div class="title">Outstanding Amount: @Model.Total_Outstanding_Amt</div> </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-container col-lg-3 col-sm-6 col-sm-12">
                <div class="card card-green">
                    <div class="front">
                        <div class="media">
                            <span class="pull-left">
                                <i class="fa fa-usd media-object"></i>
                            </span>
                            <div class="media-body">
                                <small>@Resource.Payroll_Amount</small>
                                <h2 class="media-heading animate-number" data-value="@Model.Total_Payroll_Amt">@Model.Total_Payroll_Amt</h2>
                                <small>@Resource.This_Month.ToLower()</small>
                                @if (Model.Total_Outstanding_Amt > 0)
                                {
                                    <div class="details"><div class="title">&nbsp;</div> </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="row">
        <div class="col-md-8">
            @if (Model.Display_Leave)
            {
                using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                {
                    <section class="tile color transparent-black">
                        <div class="tile-header transparent">
                            <h1><strong>@Resource.Quick_Leave</strong></h1>
                            <div class="controls">
                                <a href="#" class="minimize"><i class="fa fa-chevron-down color-white"></i></a>
                            </div>
                        </div>
                        <div class="tile-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label for="Name" class="control-label">@Resource.Start_Date</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control input-datepicker" id="Start_Date" name="Start_Date" value="@Model.Start_Date">
                                            <div class="validation-error">
                                                @Html.ValidationMessageFor(m => m.Start_Date)
                                            </div>
                                        </div>
                                        <div class="col-sm-5" id="divStartDatePeriod">
                                            <select class="chosen-select chosen-transparent form-control" id="Start_Date_Period" name="Start_Date_Period">
                                                @if (Model.periodList != null)
                                                {
                                                    foreach (var row in Model.periodList)
                                                    {
                                                        <option value="@row.Value" @(Model.Start_Date_Period == row.Value ? "selected" : "")>@row.Text</option>
                                                    }
                                                }
                                            </select>
                                            <div class="validation-error">
                                                @Html.ValidationMessageFor(m => m.Start_Date_Period)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label for="Name" class="control-label">@Resource.End_Date</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control input-datepicker" id="End_Date" name="End_Date" value="@Model.End_Date">
                                            <div class="validation-error">
                                                @Html.ValidationMessageFor(m => m.End_Date)
                                            </div>
                                        </div>
                                        <div class="col-sm-5" id="divEndDatePeriod">
                                            <select class="chosen-select chosen-transparent form-control" id="End_Date_Period" name="End_Date_Period">
                                                @if (Model.periodList != null)
                                                {
                                                    foreach (var row in Model.periodList)
                                                    {
                                                        <option value="@row.Value" @(Model.Start_Date_Period == row.Value ? "selected" : "")>@row.Text</option>
                                                    }
                                                }
                                            </select>
                                            <div class="validation-error">
                                                @Html.ValidationMessageFor(m => m.End_Date_Period)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label for="Last_Name" class="control-label">@Resource.Leave_Type</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <select class="chosen-select chosen-transparent form-control" id="Leave_Config_ID" name="Leave_Config_ID" onchange="Leave_Config_OnChange(this)">
                                                @if (Model.LeaveBalanceList != null)
                                                {
                                                    foreach (var lrow in Model.LeaveBalanceList)
                                                    {
                                                        var row = lrow.Leave_Config;
                                                        if (row != null)
                                                        {
                                                            if (row.Type == LeaveConfigType.Normal)
                                                            {
                                                                var lname = row.Leave_Name;
                                                                if (row.Leave_Name == LeaveType.ChildCareLeave)
                                                                {
                                                                    lname += " (" + Model.Relationship_Name + ")";
                                                                }
                                                                if (Model.Leave_Config_ID == NumUtil.ParseInteger(row.Leave_Config_ID))
                                                                {
                                                                    <option value="@(row.Leave_Config_ID != null ? row.Leave_Config_ID : 0)" selected>@lname</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@(row.Leave_Config_ID != null ? row.Leave_Config_ID : 0)">@lname</option>
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            </select>
                                            <div class="validation-error">
                                                @Html.ValidationMessageFor(m => m.Leave_Config_ID)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <button id="btnLeave" name="pageAction" type="submit" class="btn btn-default" value="Leave">@Resource.Submit</button>
                                            <a href="@Url.Action("Application", "Leave", new { })" class="btn btn-default">@Resource.Go_To_Full_Application</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" id="uniform-uploadfile">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label for="Designation" class="control-label">@Resource.File</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <span class="btn btn-primary btn-file">
                                                        <i class="fa fa-upload"></i><input id="LeaveFile" type="file" name="file">
                                                    </span>
                                                </span>
                                                <input type="text" class="form-control" readonly />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                }
                <script type="text/javascript">
                    function getDaysInMonth(m, y) {
                        return /4|6|9|11/.test(m) ? 30 : m == 2 ? (!(y % 4) && y % 100) || !(y % 400) ? 29 : 28 : 31;
                    }

                    $(function () {
                        $("#teamcalendar").fullCalendar({
                            header: { left: "prev,next", center: "title", right: "month" },
                            firstDay: 1,
                            editable: false,
                            droppable: false,
                            dayClick: function (date, allDay, jsEvent, view) {
                                var day = date.dates();
                                if (String(day).length == 1) {
                                    day = "0" + String(day);
                                }
                                var month = date.months() + 1;
                                if (String(month).length == 1) {
                                    month = "0" + String(month);
                                }
                                var year = date.years();
                                var strdate = day + '/' + month + '/' + year;
                                var url = '@Url.Action("Application", "Leave")' + '?pStartDate=' + encodeURIComponent(strdate);
                                //window.location.href = url;
                                window.open(url, '_blank');
                            },
                            eventClick: function (calEvent, jsEvent, view) {
                                if ('@userlogin.Profile_ID' != calEvent.profile_id) {
                                    return false;
                                }
                                var docID = String(calEvent.id);

                                var url = '@Url.Action("Application", "Leave")' + '?pDocID=' + encodeURIComponent(docID) + '&operation=' + encodeURIComponent('@EncryptUtil.Encrypt(UserSession.RIGHT_U)');
                                //window.location.href = url;
                                window.open(url, '_blank');
                            },
                            eventAfterAllRender: function (view) {
                                //Added by sun 04-12-2015
                                var cols = $('.fc-month-view [class*="fc-day"].fc-widget-content');
                                for (var i = 0; i < cols.length; i++) {
                                    var datestr = $(cols[i]).attr("data-date");
                                    var subYear = datestr.substring(0, 4);
                                    var subMonth = datestr.substring(5, 7);
                                    var strM = subMonth.replace(/\b0+/g, "");
                                    var subDay = datestr.substring(8, 10);
                                    var strD = subDay.replace(/\b0+/g, "");

                                    @foreach (var day in Model.HolidayList)
                                  {
                                    @:if (('@day.date.Month' == strM) && ('@day.date.Day' == strD) && ('@day.date.Year' == subYear))
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              @:{
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              @:$("td[data-date=" + datestr + "]").removeClass('fc-day-number');
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              @:$("td[data-date=" + datestr + "]").addClass('fc-day-number');
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              @:$("td[data-date=" + datestr + "]").addClass('fc-state-highlight-holiday').append('</br><div class ="fc-content"><span class="fc-title">' + '@day.name' + '</span></div>');
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              @:}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          }
                                }
                            },
                            events: [
                            @if (Model.LeaveTeamCalendarList != null)
                                                {
                                                    var j = 0;
                                                    var i = 0;

                                                    foreach (var row in Model.LeaveTeamCalendarList)
                                                    {
                                                        if (!hashtable.Contains(row.Employee_Profile_ID))
                                                        {
                                                            if (Model.Collor != null && Model.Collor[j] != null)
                                                            {
                                                                hashtable[row.Employee_Profile_ID] = Model.Collor[j];
                                                                j++;
                                                            }
                                                            else
                                                            {
                                                                hashtable[row.Employee_Profile_ID] = "#ff4a43";
                                                                j = 0;
                                                            }
                                                        }

                                                           if (row.Start_Date.HasValue && row.End_Date.HasValue)
                                                           {
                                                            var startyear = row.Start_Date.Value.Year;
                                                            var startmonth = row.Start_Date.Value.Month -1;
                                                            var startday = row.Start_Date.Value.Day;
                                                            var desc = UserSession.GetUserName(row.Employee_Profile.User_Profile);

                                                            var endyear = row.End_Date.Value.Year;
                                                            var endmonth = row.End_Date.Value.Month -1;

                                                            var endday = row.End_Date.Value.Day + 1;
                                                            var dayInmonth = DateTime.DaysInMonth(row.End_Date.Value.Year, row.End_Date.Value.Month);
                                                                if(row.End_Date.Value.Day + 1 > dayInmonth)
                                                                {
                                                                     endday = 1;
                                                                     endmonth = endmonth + 1;
                                                                    if(endmonth > 11)
                                                                    {
                                                                        endmonth = 0;
                                                                        endyear = endyear + 1;
                                                                    }
                                                                }
                                                                var leavecolour = hashtable[row.Employee_Profile_ID];
                                                               if (row.Leave_Config != null )
                                                               {
                                                                   desc = desc + " " + row.Leave_Config.Leave_Name;
                                                               }
                                                                if (i != 0)
                                                                {
                                                                   @:,
                                                                                   }
                                                          @:{ title: '@desc', start: new Date('@startyear', '@startmonth', '@startday'), end: new Date('@endyear', '@endmonth', '@endday'), color: '@leavecolour', id: '@EncryptUtil.Encrypt(row.Leave_Application_Document_ID)', profile_id: '@row.Employee_Profile.Profile_ID', allDay: true }
                                                                           }
                                                        else if (row.Start_Date.HasValue)
                                                        {
                                                            var startyear = row.Start_Date.Value.Year;
                                                            var startmonth = row.Start_Date.Value.Month -1;
                                                            var startday = row.Start_Date.Value.Day;
                                                            var leavecolour = hashtable[row.Employee_Profile_ID];

                                                            var desc = UserSession.GetUserName(row.Employee_Profile.User_Profile);
                                                            if (row.Leave_Config != null )
                                                            {
                                                                desc = desc + " " + row.Leave_Config.Leave_Name;
                                                            }

                                                            if (i != 0)
                                                            {
                                                             @:,
                                                                               }

                                                           @:{ title: '@desc', start: new Date('@startyear', '@startmonth', '@startday'), color: '@leavecolour', id: '@EncryptUtil.Encrypt(row.Leave_Application_Document_ID)', profile_id: '@row.Employee_Profile.Profile_ID', allDay: true }
                                                                           }
                                                        i++;
                                              }
                                          }
                            ]
                        })
                        $(".fc-prev-button").click(function () {
                            var selectMonth = $("#teamcalendar").fullCalendar('getDate').months() + 1;
                            var selectYesr = $("#teamcalendar").fullCalendar('getDate').years();
                            RenderEvent(selectMonth, selectYesr);
                        });

                        $(".fc-next-button").click(function () {
                            var selectMonth = $("#teamcalendar").fullCalendar('getDate').months() + 1;
                            var selectYesr = $("#teamcalendar").fullCalendar('getDate').years();
                            RenderEvent(selectMonth, selectYesr);
                        });

                        RenderEvent($("#teamcalendar").fullCalendar('getDate').months() + 1, $("#teamcalendar").fullCalendar('getDate').years());
                    });
                    function RenderEvent(month, year) {

                        $('#external-events .external-event').remove();
                        var str = "";
                        @if (Model.LeaveTeamCalendarList != null)
                               {
                                   foreach (var row in Model.LeaveTeamCalendarList)
                                   {
                                       var startDate = row.Start_Date.Value;
                                       Nullable<DateTime> endDate = null;

                                       var desc = UserSession.GetUserName(row.Employee_Profile.User_Profile);
                                       var col = hashtable[row.Employee_Profile_ID];
                                       if (row.Leave_Config != null)
                                       {
                                           desc += "   " + row.Leave_Config.Leave_Name;
                                       }

                                       if (row.Start_Date.HasValue && row.End_Date.HasValue)
                                       {
                                           endDate = row.End_Date.Value;
                                           desc += "   " + DateUtil.ToDisplayDate(row.Start_Date);
                                           if (!string.IsNullOrEmpty(row.Start_Date_Period))
                                           {
                                               desc = desc + " " + row.Start_Date_Period;
                                           }
                                           desc = desc + " - ";
                                           desc = desc + DateUtil.ToDisplayDate(row.End_Date);
                                           if (!string.IsNullOrEmpty(row.End_Date_Period))
                                           {
                                               desc = desc + " " + row.End_Date_Period;
                                           }
                                       }
                                       else if (row.Start_Date.HasValue)
                                       {
                                           endDate = row.Start_Date.Value;
                                           desc += "   " + DateUtil.ToDisplayDate(row.Start_Date);
                                           if (!string.IsNullOrEmpty(row.Start_Date_Period))
                                           {
                                               desc = desc + " " + row.Start_Date_Period;
                                           }
                                           desc = desc + " - ";
                                           desc = desc + DateUtil.ToDisplayDate(row.Start_Date);
                                           if (!string.IsNullOrEmpty(row.Start_Date_Period))
                                           {
                                               desc = desc + " " + row.Start_Date_Period;
                                           }
                                       }
                                       @:if (('@startDate.Month' == month || '@(endDate.Value.Month)' == month) && ('@startDate.Year' == year || '@(endDate.Value.Year)' == year)) { var str = str + '<div class="external-event" style="border-left: 10px solid ' + '@col' + '">' + '@desc' + '</div>'; }
                                                                                                                                                                                   }
                               }
                        $('#external-events').html(str);
                    }

                </script>
            }
            @if (Model.Display_Expenses)
            {
                using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                {

                    <section class="tile color transparent-black">
                        <div class="tile-header transparent">
                            <h1><strong>@Resource.Quick_Expense</strong></h1>
                            <div class="controls">
                                <a href="#" class="minimize"><i class="fa fa-chevron-down color-white"></i></a>
                            </div>
                        </div>
                        <div class="tile-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label for="Name" class="control-label">@Resource.Expenses_Title</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <input type="text" class="form-control" id="Expenses_Title" name="Expenses_Title" value="@Model.Expenses_Title">
                                            <div class="validation-error">
                                                @Html.ValidationMessageFor(m => m.Expenses_Title)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label for="Name" class="control-label">@Resource.Expenses_Type</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <select class="chosen-select chosen-transparent form-control" id="Expenses_Config_ID" name="Expenses_Config_ID">
                                                @if (Model.expensesConfigList != null)
                                                {
                                                    foreach (var row in Model.expensesConfigList)
                                                    {
                                                        <option value="@row.Expenses_Config_ID">@row.Expenses_Name</option>
                                                    }
                                                }
                                            </select>
                                            <div class="validation-error">
                                                <span id="Expenses_Config_ID_Err"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label for="Expenses_Date" class="control-label">@Resource.Expenses_Date</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <input type="text" class="form-control input-datepicker" id="Expense_Date" name="Expenses_Date" value="@Model.Expenses_Date">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label for="Amount" class="control-label">@Resource.Amount</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-8">
                                            <input type="text" class="form-control text-right" id="Amount_Claiming" name="Amount_Claiming" value="@Model.Amount_Claiming" onblur="ValidateDecimal('Amount_Claiming', '@Resource.Amount_Claiming', false)">
                                            <input type="hidden" id="Balance" name="Balance">
                                            <input type="hidden" id="Max_Amount_Claiming" name="Max_Amount_Claiming">
                                            <input type="hidden" id="Currency_ID" name="Currency_ID" value="@Model.Currency_ID">
                                            <div class="validation-error">
                                                <span id="Max_Amount_Claiming_Err"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" id="Currency_Code" name="Currency_Code" value="@Model.Currency_Code" readonly>
                                        </div>
                                        <div class="validation-error">
                                            <span id="Currency_ID_Err"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label for="Designation" class="control-label">@Resource.Upload_Receipt</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <span class="btn btn-primary btn-file">
                                                        <i class="fa fa-upload"></i><input id="Uploadfile" type="file" name="file">
                                                    </span>
                                                </span>
                                                <input type="text" class="form-control" readonly />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="divMileage">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <input hidden="hidden" id="UOM_ID" name="UOM_ID" value="@Model.UOM_ID">
                                                <input type="text" class="form-control input-transparent" id="UOM_Name" name="UOM_Name" style="color: #717171 !important; font-weight: 700; border: none; font-size: 14px !important; "
                                                       value="@Model.UOM_Name">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <input type="text" class="form-control text-right" id="Mileage" name="Mileage" onkeyup="Milage_Change()" value="@Model.Mileage">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div style="height:25px"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="col-md-5">
                                                    <input type="text" class="form-control input-transparent" id="Amount_Per_UOM" name="Amount_Per_UOM" style="color: #717171 !important; font-weight: 700; border: none; font-size: 14px !important;" value="@Model.Amount_Per_UOM">
                                                </div>
                                                <div class="col-md-2">
                                                    /
                                                </div>
                                                <div class="col-md-5">
                                                    <input type="text" class="form-control input-transparent" id="UOM_Name2" style="color: #717171 !important; font-weight: 700; border: none; font-size: 14px !important; ">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="row">
                                       <div class="col-md-3">
                                          <div class="form-group">
                                             <div class="col-md-12">
                                                <input hidden="hidden" id="UOM_ID" name="UOM_ID" value="@Model.UOM_ID">
                                                <input type="text" class="form-control input-transparent" id="UOM_Name" name="UOM_Name" style="color: #717171 !important; font-weight: 700; border: none; font-size: 14px !important; "
                                                       value="@Model.UOM_Name">
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="row">
                                       <div class="col-md-2">
                                          <div class="form-group">
                                             <div class="col-md-12">
                                                <input type="text" class="form-control text-right" id="Mileage" name="Mileage" onchange="Milage_Change()" value="@Model.Mileage">
                                             </div>
                                          </div>
                                       </div>
                                       <div class="col-md-4">
                                          <div style="height:15px"></div>
                                          <div class="form-group">
                                             <div class="col-md-5">
                                                <input type="text" class="form-control input-transparent" id="Amount_Per_UOM" name="Amount_Per_UOM" style="color: #717171 !important; font-weight: 700; border: none; font-size: 14px !important;" value="@Model.Amount_Per_UOM">
                                             </div>
                                             <div class="col-md-2">
                                                /
                                             </div>
                                             <div class="col-md-5">
                                                <input type="text" class="form-control input-transparent" id="UOM_Name2" style="color: #717171 !important; font-weight: 700; border: none; font-size: 14px !important; ">
                                             </div>
                                          </div>
                                       </div>
                                    </div>*@
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <button id="btnExpense" name="pageAction" type="submit" class="btn btn-default" value="Expense">@Resource.Submit</button>
                                            <a href="@Url.Action("Application", "Expenses", new { })" class="btn btn-default">@Resource.Go_To_Full_Application</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                }
            }
            @if (Model.Display_Leave)
            {
                <section class="tile color transparent-black">
                    <div class="tile-body">
                        <div class="row">
                            <div id="teamcalendar"></div>
                        </div>
                        <img style="width: 15px; height: 15px; vertical-align: text-bottom;" class="fc-state-highlight-holiday" /> @Resource.Public_Holiday
                    </div>
                </section>
            }
        </div>
        <section class="col-md-4">
            @if (Model.Display_Leave)
            {
                <section class="tile color transparent-black">
                    <div class="tile-header transparent">
                        <h1><strong>@Resource.Remaining_Leave</strong></h1>
                        <div class="controls">
                            <a href="#" class="minimize"><i class="fa fa-chevron-down color-white"></i></a>
                        </div>
                    </div>

                    <div class="tile-body">
                        <div class="row" style="max-height: 297px; overflow-y: auto">
                            <ul class="inline">
                                <li class="col-md-12">
                                    <ul class="progress-list">
                                        @if (Model.LeaveBalanceList != null)
                                        {
                                            foreach (var row in Model.LeaveBalanceList)
                                            {
                                                var lconfig = row.Leave_Config;
                                                var lleft = row.Leave_Left;
                                                if (lconfig == null)
                                                {
                                                    continue;
                                                }

                                                string str = "";
                                                string percen = "";
                                                var entitleAll = 0M;
                                                var left = 0M;
                                                var weeksleft = 0M;
                                                if (lleft != null)
                                                {
                                                    entitleAll = lleft.EntitleAll;
                                                    left = lleft.Left;
                                                    weeksleft = lleft.Weeks_Left;
                                                }

                                                if (lconfig.Type == LeaveConfigType.Normal)
                                                {
                                                    var entitleAlldiv = entitleAll;
                                                    if (entitleAlldiv == 0)
                                                    {
                                                        entitleAlldiv = 1;
                                                    }

                                                    percen = NumUtil.FormatCurrency((left / entitleAlldiv) * 100);
                                                    str = NumUtil.FormatCurrency(left) + " " + Resource.Out_Of_Tolower + " " + NumUtil.FormatCurrency(entitleAll) + " " + Resource.Days;
                                                }
                                                else
                                                {
                                                    var entitleAlldiv = entitleAll;
                                                    if (entitleAlldiv == 0)
                                                    {
                                                        entitleAlldiv = 1;
                                                    }
                                                    percen = NumUtil.FormatCurrency((weeksleft / entitleAlldiv) * 100);
                                                    str = NumUtil.FormatCurrency(weeksleft) + " " + Resource.Out_Of_Tolower + " " + NumUtil.FormatCurrency(entitleAll) + " " + Resource.Weeks;
                                                }
                                                <li>
                                                    <div class="details">
                                                        <div class="title">@lconfig.Leave_Name</div>
                                                    </div>
                                                    <div class="status pull-right">
                                                        <span class="animate-number" data-value="@str" data-animation-duration="1500">0</span>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <div class="progress progress-little">
                                                        <div class="progress-bar progress-bar-green animate-progress-bar" data-percentage="@percen%" style="width:0%;"></div>
                                                    </div>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        @*<div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <a href="@Url.Action("Application", "Leave", new { })" class="btn btn-default">@Resource.Apply_Leave</a>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </section>
            }

            <section class="tile color transparent-black">
                <div class="tile-header transparent">
                    @if (Model.Total_Diskspace > 1000)
                    {
                        Model.Total_Diskspace = Math.Round(@Model.Total_Diskspace / 1000, 2); // 1000 MB = 1 GB
                        <h1><strong>@Resource.Disk_Utilization (@Model.Total_Diskspace GB)</strong></h1>
                    }
                    else
                    {
                        <h1><strong>@Resource.Disk_Utilization (@Model.Total_Diskspace MB)</strong></h1>
                    }
                    <div class="controls">
                        <a href="#" class="minimize"><i class="fa fa-chevron-down color-white"></i></a>
                    </div>
                </div>
                <div class="tile-body">
                    <div class="row">
                        @if (Model.Avail_Diskspace >= 0)
                        {
                            <div id="disk-usage" style="height: 230px;"></div>
                        }
                        <ul class="inline text-center chart-legend">
                            <li><span class="badge badge-outline" style="background-color:#D796EC"></span>@Resource.Available_Storage <small>@Model.Avail_Diskspace MB</small></li>
                            <li><span class="badge badge-outline" style="background-color:#5B5A5B"></span>@Resource.Company_Information <small>@Model.Company_Usage MB</small></li>
                            <li><span class="badge badge-outline" style="background-color:#FF5733"></span>@Resource.Employee_Attachments <small>@Model.Emp_Usage MB</small></li>
                            <li><span class="badge badge-outline" style="background-color:#AFD684"></span>@Resource.Leave_Attachments <small>@Model.Leave_Usage MB</small></li>
                            <li><span class="badge badge-outline" style="background-color:#6093e5"></span>@Resource.Expense_Attachments <small>@Model.Exp_Usage MB</small></li>
                        </ul>
                    </div>
                    @if (admin == true || hr == true)
                    {
                        <a href="#modal-UpgradeStorage" class="btn btn-default" role="button" data-toggle="modal">@Resource.Upgrade_Storage</a>
                    }
                </div>
            </section>
            @if (Model.Display_Leave)
            {
                <section class="tile color transparent-black">
                    <div class="tile-header transparent">
                        <h1><strong>@Resource.Team_Calendar</strong></h1>
                        <div class="controls">
                            <a href="#" class="minimize"><i class="fa fa-chevron-down color-white"></i></a>
                        </div>
                    </div>
                    <div class="tile-body">
                        <div class="cal-options" style="overflow-y: auto;max-height: 550px;">
                            <div id="external-events" class="events-wrapper" style="margin-top:0px!important"> </div>
                        </div>
                    </div>
                </section>
            }
        </section>

        @*@if (Model.Display_Expenses)
            {
                <section class="tile color transparent-black">
                    <div class="tile-header transparent">
                        <h1><strong>@Resource.Pending_Expenses</strong></h1>
                        <div class="controls">
                            <a href="#" class="minimize"><i class="fa fa-chevron-down color-white"></i></a>
                        </div>
                    </div>
                    <div class="tile-body">
                        <div class="row" style="max-height: 180px; overflow-y: auto; ">
                            <table class="table">
                                <tbody>
                                    @if (Model.ExpensesList != null)
                                    {
                                        foreach (var row in Model.ExpensesList)
                                        {
                                            var status = "";

                                            if (string.IsNullOrEmpty(row.Cancel_Status))
                                            {
                                               status = StatusUtil.Get_Overall_Status(row.Overall_Status);
                                               if (row.Overall_Status != WorkflowStatus.Pending)
                                               {
                                                  continue;
                                               }
                                            }
                                            else
                                            {
                                               status = StatusUtil.Get_Overall_Status(row.Cancel_Status);
                                               if (row.Overall_Status != WorkflowStatus.Canceling)
                                               {
                                                  continue;
                                               }
                                            }

                                            if (true)
                                            {
                                                var totalAmount = 0M;
                                                var claimAmount = 0M;
                                                if (row.Expenses_Application_Document != null)
                                                {
                                                    totalAmount = row.Expenses_Application_Document.Sum(s => s.Total_Amount.HasValue ? s.Total_Amount.Value : 0);
                                                    claimAmount = row.Expenses_Application_Document.Sum(s => s.Amount_Claiming.HasValue ? s.Amount_Claiming.Value : 0);
                                                }
                                                <tr>
                                                    <td style="padding-left:15px;">
                                                        <div class="row">
                                                            <div class="col-sm-12" style="">
                                                                <div class="form-group">
                                                                    <div class="col-sm-12"><i class="fa fa-clock-o"> @DateUtil.ToDisplayDate(row.Date_Applied)</i></div>
                                                                </div>
                                                               <div class="form-group">
                                                                  <div class="col-sm-12">
                                                                     <strong>@row.Expenses_Title @row.Expenses_No</strong>
                                                                     <br />
                                                                     @Resource.Expense_Of <span class="color-green" style="font-weight:700;">@NumUtil.FormatCurrency(claimAmount) @Model.Currency_Code</span>
                                                                     <br />
                                                                     @Resource.Is <span class="color-orange" style="font-weight:700;font-size:16px;text-decoration:underline">@status</span>
                                                                  </div>
                                                               </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="actions text-right" style="padding-right:15px"><a style="padding-right:0px;margin-right:0px;" href="@Url.Action("Application", "Expenses", new { eID = EncryptUtil.Encrypt(row.Expenses_Application_ID), operation = EncryptUtil.Encrypt(UserSession.RIGHT_U) })"><i class="fa fa-file-o fa-2x"></i></a> </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <a class="btn btn-default" href="@Url.Action("Record", "Expenses")">@Resource.View_All_Applications</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            }

            @if (Model.Display_Payroll)
            {
                <section class="tile color transparent-black">
                    <div class="tile-header transparent">
                        <h1><strong>@Resource.Payslip</strong></h1>
                        <div class="controls">
                            <a href="#" class="minimize"><i class="fa fa-chevron-down color-white"></i></a>
                        </div>
                    </div>
                    <div class="tile-body">
                        @if (Model.payroll != null && Model.payroll.Process_Status == PayrollStatus.Comfirm)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-12 text-center">
                                            <i class="fa fa-file-powerpoint-o fa-5x"></i>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12 text-center">
                                            @Resource.Your @DateUtil.GetFullMonth(Model.payroll.Process_Month) @Resource.Payslip_Is_Ready
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12 text-center">
                                            <a target="_blank" class="btn btn-default" href="@Url.Action("PayrollPrintSlip", "Payroll", new { prm_id = EncryptUtil.Encrypt(Model.payroll.PRM_ID) })">@(DateUtil.GetFullMonth(Model.payroll.Process_Month) + " " + Model.payroll.Process_Year)</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </section>
            }*@
    </div>
</div>
@{ Html.RenderPartial("_UpgradeStorage", Model);}
<!-- Page content end -->
