@model  HR.Models.CPFGenerateViewModels
@using HR.Models;
@using SBSModel.Models;
@using SBSModel.Common;
@using SBSResourceAPI;
@{
    ViewBag.Title = @Resource.IR8B_Generate_File_Detail;
}

<script type="text/javascript">

</script>
<!-- page header -->
<div class="pageheader">
    <h2> @Resource.IR8B_Generate_File_Detail</h2>
    <div class="breadcrumbs">
        <ol class="breadcrumb">
            <li>@Resource.You_Are_Here</li>
            <li><a href="@Url.Action("Index", "Home")">@Resource.DashBoard</a></li>
            <li><a href="@Url.Action("IR8BGenerateFile", "Payroll")">@Resource.IR8B_Generate_File</a></li>
            <li class="active">@Resource.IR8B_Generate_File_Detail</li>
        </ol>
    </div>
</div>


<div class="main">

    <div class="row">

        <div class="col-md-12">
            <!-- tile  -->
            @if (Model.result != null && Model.result.Code != 0)
            {
                if (Model.result.Code < 0)
                {
                    <div class="alert alert-red">
                        @if (Model.result.Code == ERROR_CODE.ERROR_18_NO_PAYROLL_RECORDS)
                        {
                            @Html.Raw(AppConst.GetMsg(Model.result))
                        }
                        else
                        {
                            @Html.Raw(AppConst.GetMsg(Model.result))
                        }
                    </div>
                }
                else if (Model.result.Code > 0)
                {
                    if (Model.result.Code == ERROR_CODE.SUCCESS)
                    {
                        <div class="alert alert-success">
                            @Html.Raw(AppConst.GetMsg(Model.result))
                        </div>
                    }
                }
            }
            @using (Html.BeginForm("IR8BGenerateFileDetail", "Payroll", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <input type="hidden" id="Payment_Type" name="Payment_Type" value="0" />
                <section class="tile color transparent-black filter" id="secfilter">
                    <div class="tile-header transparent">
                        <h1 onclick="CollapseHeader(null)" style="cursor:pointer"><strong>@Resource.Apply_Filter</strong></h1>
                        <div class="controls">
                            <a href="#" class="minimize filter" id="btncollapse"><i class="fa fa-search  color-white"></i></a>
                        </div>
                    </div>
                    <div class="tile-body">
                        <input type="hidden" id="Generated_ID" name="Generated_ID" value="@Model.Generated_ID" />
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <label for="CPF_Department" class="control-label">@Resource.Department</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <select class="chosen-select chosen-transparent form-control" id="CPF_Department" name="CPF_Department">
                                            <option value="0" selected="selected">-</option>
                                            @if (Model.departments != null)
                                            {
                                                foreach (var dept in Model.departments)
                                                {
                                                    if (Model.CPF_Department == dept.Department_ID)
                                                    {
                                                        <option value="@dept.Department_ID" selected="selected">@dept.Name</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@dept.Department_ID">@dept.Name</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <label for="CPF_Designation" class="control-label">@Resource.Designation</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-8">
                                        <select class="chosen-select chosen-transparent form-control" id="CPF_Designation" name="CPF_Designation">
                                            <option value="0" selected="selected">-</option>
                                            @if (Model.designations != null)
                                            {
                                                foreach (var desg in Model.designations)
                                                {
                                                    if (Model.CPF_Designation == desg.Designation_ID)
                                                    {
                                                        <option value="@desg.Designation_ID" selected="selected">@desg.Name</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@desg.Designation_ID">@desg.Name</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-sm-8">
                                        <button type="submit" class="btn btn-primary" value="true" name="Filter">@Resource.Filter</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="tile color transparent-black">
                    <div class="tile-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-sm-8">
                                        <button type="submit" class="btn btn-primary" value="SubCPF" name="SubmitControl">@Resource.IR8B_Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="tile color transparent-black">
                    <div class="tile-header transparent">
                        <h1><strong>@Resource.IR8B_Generate_File_Detail</strong></h1>
                        <div class="controls">
                            <a href="#" class="minimize"><i class="fa fa-chevron-down color-white"></i></a>
                        </div>
                    </div>

                    <div class="tile-body">

                        <div class="table-responsive">
                            <table class="table table-datatable table-custom" id="empDataTable">
                                <thead>
                                    <tr>
                                        <th class="no-sort">@Resource.Employee_No_SymbolDot</th>
                                        <th class="no-sort">@Resource.Full_Name</th>
                                        <th class="no-sort">@Resource.Department</th>
                                        <th class="no-sort">@Resource.Designation</th>
                                        <th class="no-sort">@Resource.Sex</th>
                                        <th class="no-sort">@Resource.A_Gross_Amt_NotQualify</th>
                                        <th class="no-sort">@Resource.A_Gross_Amt_Gained</th>
                                        <th class="no-sort">@Resource.B_Gross_Amt_NotQualify</th>
                                        <th class="no-sort">@Resource.B_Gross_Amt_Gained</th>
                                        <th class="no-sort">@Resource.C_Gross_Amt_NotQualify</th>
                                        <th class="no-sort">@Resource.C_Gross_Amt_Gained</th>
                                        <th class="no-sort">@Resource.D_Gross_Amt_NotQualify</th>
                                        <th class="no-sort">@Resource.D_Gross_Amt_Gained</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.generatedIR8B_FileDetail != null && Model.generatedIR8B_FileDetail.Count > 0)
                                    {
                                        var i = 0;
                                        foreach (var row in Model.generatedIR8B_FileDetail)
                                        {
                                            <tr>
                                                <td>@row.Employee_No</td>
                                                <td>@row.Name</td>
                                                @foreach (var dept in Model.departments)
                                                {
                                                    if (dept.Department_ID == row.Department_ID)
                                                    {
                                                        <td>@dept.Name</td>
                                                        break;
                                                    }
                                                }
                                                @foreach (var desg in Model.designations)
                                                {
                                                    if (desg.Designation_ID == row.Designation_ID)
                                                    {
                                                        <td>@desg.Name</td>
                                                        break;
                                                    }
                                                }
                                                <td>@row.Sex</td>
                                                <td>@row.A_Gross_Amt_NotQualify</td>
                                                <td>@row.A_Gross_Amt_Gained</td>
                                                <td>@row.B_Gross_Amt_NotQualify</td>
                                                <td>@row.B_Gross_Amt_Gained</td>
                                                <td>@row.C_Gross_Amt_NotQualify</td>
                                                <td>@row.C_Gross_Amt_Gained</td>
                                                <td>@row.D_Gross_Amt_NotQualify</td>
                                                <td>@row.D_Gross_Amt_Gained</td>
                                            </tr>
                                                i++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </section>
            }

        </div>


    </div>

</div>
