@model  HR.Models.ImportPayrollViewModels
@using SBSModel.Models;
@using SBSModel.Common;
@using HR.Models;
@using SBSResourceAPI;

@{
    ViewBag.Title = @Resource.Import_Payroll;
}

@if ((Model.rights != null && Model.rights.Contains(UserSession.RIGHT_A)))
{
    <script type="text/javascript">
        //initialize file upload button function
        $(document)
          .on('change', '.btn-file :file', function () {
              var input = $(this),
              numFiles = input.get(0).files ? input.get(0).files.length : 1,
              label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
              input.trigger('fileselect', [numFiles, label]);
          });

        $(function () {
            InitDatatable('payrollDataTable', null, null, 1, 'asc');
            //initialize file upload button
            $('.btn-file :file').on('fileselect', function (event, numFiles, label) {

                var sizeIsnull = $('#uploadfile')[0].files[0];
                if (sizeIsnull != undefined) {
                    var fsize = $('#uploadfile')[0].files[0].size;
                    if (fsize > 6097150) {
                        alert('@Resource.Message_Please_Upload_File_Size_Is_Less_Than_5_MB');
                        $('#uploadfile').after($('#uploadfile').clone(true)).remove();
                        $('#uploadfile').parents('.input-group').find(':text').val('');
                        return false;
                    }

                    var input = $(this).parents('.input-group').find(':text'),
                        log = numFiles > 1 ? numFiles + ' files selected' : label;

                    console.log(log);

                    if (input.length) {
                        input.val(log);
                    } else {
                        if (log) alert(log);
                    }
                }
            });


            $("#btnUpload").click(function () {
                var filename = $('#uploadfile').val();
                var ext = '';
                if (filename != null) {
                    var k = filename.lastIndexOf('.');
                    if (k >= 0) {
                        ext = filename.substring(k + 1).toLowerCase();
                    }
                }
                if (ext != 'xls' && ext != 'xlsx') {
                    alert('@Resource.Message_Please_Please_Upload_File_xls');
                    return;
                }
                theForm.action = '@Url.Action("PayrollImport", "Payroll")';
                theForm.method = 'post';
                theForm.submit();
            });
        })
</script>

    <div class="pageheader">
        <h2>@Resource.Import_Payroll</h2>
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li>@Resource.You_Are_Here</li>
                <li><a href="@Url.Action("Index", "Home")">@Resource.DashBoard</a></li>
                <li><a href="@Url.Action("Payroll", "Payroll")">@Resource.Payroll</a></li>
                <li class="active">@Resource.Import_Payroll</li>
            </ol>
        </div>
    </div>

    using (Html.BeginForm("PayrollImport", "Payroll", FormMethod.Post, new { @class = "form-horizontal validatable", role = "form", id = "theForm", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="main">
            <div class="row">
                
                <div class="col-md-12">
                    @if (Model.result != null && Model.result.Code != 0)
                    {
                        if (Model.result.Code < 0)
                        {
                            <div class="alert alert-red">
                                @Html.Raw(AppConst.GetMsg(Model.result))
                            </div>
                        }
                        else if (Model.result.Code > 0)
                        {
                            <div class="alert alert-success">
                                @Html.Raw(AppConst.GetMsg(Model.result))
                            </div>
                        }
                    }

                    <section class="tile color transparent-black filter" id="secfilter">
                        <div class="tile-header transparent">
                            <h1 onclick="CollapseHeader(null)" style="cursor:pointer"><strong>@Resource.Import_Payroll</strong></h1>
                            <div class="controls">
                                <a href="#" class="minimize"><i class="fa fa-chevron-down color-white"></i></a>
                            </div>
                        </div>
                        <div class="tile-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label for="uploadfile" class="control-label">@Resource.Upload_File</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <span class="btn btn-primary btn-file">
                                                        <i class="fa fa-upload"></i><input id="uploadfile" type="file" name="file">
                                                    </span>
                                                </span>
                                                <input type="text" class="form-control" ="" readonly>
                                            </div>
                                            <div class="validation-error">
                                                @Html.ValidationMessage("Import_Payroll")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-sm-12" style="height :28px;">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <button type="button" class="btn btn-default" id="btnUpload">@Resource.Validate_File</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="tile color transparent-black">
                        
                        <div class="tile-header transparent">
                            <h1><strong>@Resource.Payroll_Informatiom</strong></h1>
                            <div class="controls">
                                <a href="#" class="minimize"><i class="fa fa-chevron-down color-white"></i></a>
                            </div>
                        </div>
                        <div class="tile-body">
                            <div class="validation-error">
                                @Html.ValidationMessageFor(m => m.prm_prd)
                            </div>
                            <div class="table-responsive">
                                <table class="table table-datatable table-custom" id="payrollDataTable">
                                    <thead>
                                        <tr>
                                            <th class="no-sort" style="width: 20px;"></th>
                                            <th class="sort-numeric">@Resource.SN</th>
                                            <th class="sort-alpha">@Resource.Employee_No</th>
                                            <th class="sort-alpha">@Resource.Process_Year</th>
                                            <th class="sort-alpha">@Resource.Process_Month</th>
                                            <th class="sort-alpha">@Resource.Run_Date</th>
                                            <th class="sort-alpha">@Resource.Days_Worked</th>
                                            <th class="sort-alpha">@Resource.Mode_Of_Payment</th>

                                            <th class="sort-alpha">@Resource.OT_Rate</th>
                                            <th class="sort-alpha">@Resource.OT_Hours</th>
                                            <th class="sort-alpha">@Resource.Amount_Payable_SymbolDollar</th>

                                            <th class="sort-alpha">@Resource.Allowance_Type</th>
                                            <th class="sort-alpha">@Resource.Description</th>
                                            <th class="sort-alpha">@Resource.Amount_SymbolDollar</th>

                                            <th class="sort-alpha">@Resource.Donation_Type</th>
                                            <th class="sort-alpha">@Resource.Amount_SymbolDollar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.prm_prd != null)
                                        {
                                            for (int i = 0; i < Model.prm_prd.Length; i++)
                                            {
                                                var row = Model.prm_prd[i];
                                                var colour = "color:#FFFFFF;";
                                                if (!row.Validate)
                                                {
                                                    colour = "color:red;";
                                                }
                                                <tr title="@row.ErrMsg" style="@colour">
                                                    <td>
                                                        @if (!row.Validate)
                                                        {
                                                            <a><i class="fa fa-ban fa-2x color-white"></i></a>
                                                        }
                                                        else
                                                        {
                                                            <a><i class="fa fa-check fa-2x color-green"></i></a>
                                                        }
                                                        <input type="hidden" name="prm_prd[@i].Company_ID" value="@row.Company_ID">
                                                        <input type="hidden" name="prm_prd[@i].Validate" value="@row.Validate.ToString()">
                                                        <input type="hidden" name="prm_prd[@i].ErrMsg" value="@row.ErrMsg">
                                                        <input type="hidden" name="prm_prd[@i].Employee_Profile_ID" value="@row.Employee_Profile_ID">
                                                        <input type="hidden" name="prm_prd[@i].Employee_No" value="@row.Employee_No">
                                                        <input type="hidden" name="prm_prd[@i].Process_Year" value="@row.Process_Year">
                                                        <input type="hidden" name="prm_prd[@i].Process_Month" value="@row.Process_Month">
                                                        <input type="hidden" name="prm_prd[@i].Process_Month_" value="@row.Process_Month_">
                                                        <input type="hidden" name="prm_prd[@i].Run_Date" value="@row.Run_Date">
                                                        <input type="hidden" name="prm_prd[@i].Total_Work_Days" value="@row.Total_Work_Days">
                                                        <input type="hidden" name="prm_prd[@i].Payment_Type" value="@row.Payment_Type">
                                                        <input type="hidden" name="prm_prd[@i].Payment_Type_" value="@row.Payment_Type_">

                                                        @*Overtime*@
                                                        <input type="hidden" name="prm_prd[@i].PRT_ID_Overtime" value="@row.PRT_ID_Overtime">
                                                        <input type="hidden" name="prm_prd[@i].PRC_ID_Overtime" value="@row.PRC_ID_Overtime">
                                                        <input type="hidden" name="prm_prd[@i].PRC_ID_Overtime_" value="@row.PRC_ID_Overtime_">
                                                        <input type="hidden" name="prm_prd[@i].OT_Rate" value="@row.OT_Rate">
                                                        <input type="hidden" name="prm_prd[@i].OT_Hours" value="@row.OT_Hours">
                                                        <input type="hidden" name="prm_prd[@i].Overtime_Type_Amount" value="@row.Overtime_Type_Amount">

                                                        @*Description*@
                                                        <input type="hidden" name="prm_prd[@i].PRT_ID_Allowance_Type" value="@row.PRT_ID_Allowance_Type">
                                                        <input type="hidden" name="prm_prd[@i].PRT_ID_Allowance_Type_" value="@row.PRT_ID_Allowance_Type_">
                                                        <input type="hidden" name="prm_prd[@i].PRC_ID_Description" value="@row.PRC_ID_Description">
                                                        <input type="hidden" name="prm_prd[@i].PRC_ID_Description_" value="@row.PRC_ID_Description_">
                                                        <input type="hidden" name="prm_prd[@i].Description_Type_Amount" value="@row.Description_Type_Amount">

                                                        @*Donatio*@
                                                        <input type="hidden" name="prm_prd[@i].PRT_ID_Donation" value="@row.PRT_ID_Donation">
                                                        <input type="hidden" name="prm_prd[@i].PRC_ID_Donation" value="@row.PRC_ID_Donation">
                                                        <input type="hidden" name="prm_prd[@i].PRC_ID_Donation_" value="@row.PRC_ID_Donation_">
                                                        <input type="hidden" name="prm_prd[@i].Donation_Type_Amount" value="@row.Donation_Type_Amount">
                                                    </td>

                                                    <td style="width:20px">@(i + 1)</td>
                                                    <td>@row.Employee_No</td>
                                                    <td>@row.Process_Year</td>
                                                    <td>@row.Process_Month_</td>
                                                    <td>@row.Run_Date</td>
                                                    <td>@row.Total_Work_Days.ToString("n2")</td>
                                                    <td>@row.Payment_Type_</td>

                                                    <td>@row.OT_Rate</td>
                                                    <td>@row.OT_Hours</td>
                                                    <td style="text-align: right;">@row.Overtime_Type_Amount.ToString("n2")</td>

                                                    <td>@row.PRT_ID_Allowance_Type_</td>
                                                    <td>@row.PRC_ID_Description_</td>
                                                    <td style="text-align: right;">@row.Description_Type_Amount.ToString("n2")</td>

                                                    <td>@row.PRC_ID_Donation_</td>
                                                    <td style="text-align: right;">@row.Donation_Type_Amount.ToString("n2")</td>

                                                </tr>
                                            }

                                        }
                                    </tbody>
                                </table>
                            </div>
                            <!-- tile widget -->
                            <!-- /tile widget -->
                        </div>
                       
                    </section>
                    
                </div>
                
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <section class="tile color transparent-white">
                        <div class="tile-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="hidden" name="validated_Main" value="@Model.validated_Main.ToString()">
                                    @if (Model.validated_Main && Model.prm_prd != null && Model.prm_prd.Length > 0)
                                    {
                                        <button class="btn btn-primary" type="submit" name="pageAction" value="import">@Resource.Import</button>
                                    }
                                    <a href="@Url.Action("Payroll", "Payroll")" class="btn btn-default">@Resource.Back</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    }
    
}