@model HR.Models.MessagePageViewModel
@using SBSResourceAPI;
@{
    ViewBag.Title = Resource.Payment_Error;
}

<div class="main">
    <div class="row">
        <div class="col-md-12">
            <!-- tile -->
            <section class="tile transparent">
                <div class="jumbotron bg-transparent-black-3">
                    <div class="container text-center">
                        <h1 class="error"><strong>@Resource.Payment_Error</strong></h1>
                        @if (Model.Code != 0)
                        {
                            <h4 class="error">@Resource.Error <strong>@(Model.Code.ToString().Replace("-", ""))</strong></h4>
                            <p>@Html.DisplayFor(model => model.Msg)</p>
                        }
                        <p><a class="btn btn-greensea btn-large" href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> @Resource.Return_To_Home</a></p>
                    </div>
                </div>
            </section>
            
        </div>
    </div>
</div>





